<div class="container">
  <div class="text-center mt-5" style="margin-top: 70px">
    <h1>Day 4 Practice</h1>
    <div class="mt-5 p-3 content">
      <div class="row">
        <div class="col-xl-6 border border-3">
          <h3 class="mb-4">Form</h3>
          <app-forms></app-forms>
        </div>
        <div class="col-xl-6 border border-3">
          <h3 class="mb-4">Form Builder</h3>
          <app-form-builder></app-form-builder>
        </div>
      </div>
      <div class="row mt-8">
        <div class="col-xl-6 border border-3">
          <hr />
          <h3 class="mb-4">Form Array</h3>
          <app-form-array></app-form-array>
        </div>
        <div class="col-xl-6 border border-3">
          <hr />
          <h3 class="mb-4">Form using Patch</h3>
          <app-form-patch></app-form-patch>
        </div>
      </div>
    </div>
  </div>
</div>
