<div class="container">
  <input
    class="form-control"
    [formControl]="emaill"
    type="text"
    placeholder="Enter Email"
  />
  {{ emaill.value | json }}

  <form [formGroup]="logForm" novalidate class="form">
    <input
      formControlName="email"
      type="text"
      class="form-control"
      placeholder="Enter Email"
    />
    <input
      formControlName="password"
      type="password"
      class="form-control"
      placeholder="Enter Password"
    />
  </form>
  {{ logForm.value | json }}
  {{ logForm.status | json }}

  <br />

  <br />
  <form
    (ngSubmit)="loginUser()"
    [formGroup]="loginForm"
    novalidate
    class="form"
  >
    <input
      formControlName="email1"
      type="text"
      class="form-control"
      placeholder="Enter Email"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        loginForm.get('email1')?.hasError('required') &&
        loginForm.get('email1')?.touched
      "
    >
      Email is required
    </div>
    <input
      formControlName="password1"
      type="password"
      class="form-control"
      placeholder="Enter Password"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        !loginForm.get('password1')?.valid && loginForm.get('email1')?.touched
      "
    >
      Password is required and should less than 10 characters
    </div>
    <button [disabled]="loginForm.invalid" class="btn btn-primary">
      Login
    </button>
  </form>
</div>
