<div class="container">
  <div class="text-center mt-5" style="margin-top: 70px">
    <h1>Day 6 Practice</h1>
    <div class="mt-5 p-3">
      <div class="row">
        <div class="col-xl-6 border border-3">
          <h3 class="mb-4">Template Driven</h3>
          <app-hero-form> </app-hero-form>
        </div>
        <div class="col-xl-6 border border-3">
          <h3 class="mb-4">Dynamic Form</h3>
          <h2>Job Application for Heroes</h2>
          <app-dynamic-form [questions]="questions$ | async"></app-dynamic-form>
        </div>
      </div>
    </div>
  </div>
</div>