<!-- Create Hello World Component and call the helloWorld Component in the App Component. -->
<div class="justify-content-center">
  <p>hello-world works!</p>

  <!-- HelloworldComponent-> Declare a name variable and store your name in that variable and use header tag to interpolate the variable Greeting of the day with name stored in the variable -->

  <h4>Greetings of the day with {{ name }}</h4>

  <!-- Create one textbox in Helloworld component. Bind its value to name variable. -->
  <div class="form-group col-6 row">
    <label class="col-sm-2" for="text">Textarea:</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="text" rows="1">{{ name }}</textarea>
    </div>
  </div>
</div>
