<!-- Create Hello World Component and call the helloWorld Component in the App Component. -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <app-hello-world></app-hello-world>
        <div class="col-4">
          <app-calc></app-calc>
        </div>
        <div class="col-4">
          <app-circle></app-circle>
        </div>
        <div class="col-4">
          <app-rectangle></app-rectangle>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <app-sign-up></app-sign-up>
        </div>
        <div class="col-6">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>
