<span>
    Create Login Form with field UserName and Password field.

</span>


<h1> Student Login Form </h1>
<form>
    <div class="container">
        <label>Username : </label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <br />
        <label>Password : </label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <br />
        <input type="checkbox" checked="checked"> Remember me <br />
        <button type="submit">Login</button>
        <button type="button" class="cancelbtn"> Cancel</button> <br />
        Forgot <a href="#"> password? </a>
    </div>
</form>