<span>
    You are working in some company as HR. you have been assigned a task to arrange department hierarchy example:
    employee working under some manager.

</span>
<h1>HR</h1>
<ul>
    <li>Dhruvit</li>
    <ol>
        <li>dhruvit1</li>
        <ul>
            <li>dhruvit2</li>
            <ul>
                <li>
                    dhruvit3
                </li>
            </ul>
        </ul>
        <li>dhruvit4</li>
        <ul>
            <li>dhruvit5</li>
        </ul>
        <li>dhruvit6</li>
    </ol>

</ul>